@charset "UTF-8";


:root {
    --header: #265DA6;
    --menu_lateral: #0B2940;
    --menu_lateral_hover: #092133;
    --sub_menu_lateral: rgba(255, 255, 255, 0.051);
    --ciano: #2382ca;

}

button {
    font-weight: 600;
    letter-spacing: .8px;
    
}

* {
    padding: 0; margin: 0; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body{
    display: grid;
    min-height: 100vh;
    grid-template: 75px auto/ 220px 3fr;
}

/*Tela de Carregamento*/

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.247); /* branco com transparência */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* garante que fique acima de tudo */
    transition: opacity 0.5s ease;
}

/* Animação da bolinha */
.spinner {
    border: 6px solid #f3f3f3; /* cor de fundo */
    border-top: 6px solid #3498db; /* cor da parte animada */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Efeito de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Quando for escondido */
#loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

/*--------------------------------------------------*/



body > header{
    display: none;
    padding: 20px;
    align-items: center;
    grid-area: 1 / 1 / 2 / -1;
    background-color: var(--header);
    color: white;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 5px #000000b4;
    height: 75px;
    z-index: 2;
}

#menu_estoque > div {
        display: none;
    }

.botoes_menu {
    background-color: transparent;
    border: 0px;
    border-radius: 20px;
}

#icon_menu{
    cursor: pointer;
    font-size: 25px;
}

.botoes_menu:hover{
    background-color: rgba(255, 255, 255, 0.192);
}

#botao_menu:active {
    background-color: rgba(255, 255, 255, 0.307);
}

.botoes_menu{
    cursor: pointer;
}

#botao_menu{
    padding: 7px 7px 5px 7px;
}

#botao_close{
    padding: 0px 7px;
}

#botao_close:hover{
    background-color: var(--menu_lateral_hover);
}



#botao_close:active{
    background-color: #0c2f49;;
}

#menu_lateral {
    grid-area: 1 / 1 / -1 / 2;
    background-color: var(--menu_lateral);
    box-shadow: 1px 1px 5px #000000;
}

.invisivel {
    display: none !important;
}

.ativo {
    display: flex !important;
}


#menu_lateral > nav > ul{
    display: flex; 
    flex-direction: column;
    color: rgba(255, 255, 255, 0.781);
    letter-spacing: 1px;
    letter-spacing: .5px;
}

#menu_lateral > nav{
    width: 100%;
}

#menu_lateral .botao_menu_lateral {
    background-color: var(--menu_lateral);
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.781);
    height: 60px;
    font-size: 15px;
    width: 100%;
    gap: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    letter-spacing: .5px;
}

#menu_lateral .botao_menu_lateral:hover {
    background-color: var(--menu_lateral_hover);
}

#menu_lateral .botao_menu_lateral:active {
    background-color: #0c2f49;;
}

#botao_estoque.ativo {
    border-Left: 3px solid var(--ciano);
}

#sub_menu_estoque {
    display: none;

}

#sub_menu_estoque.ativa {
    display: block;
}

#sub_menu_estoque li{
    background-color: var(--sub_menu_lateral);
    font-size: .9em;
    display: flex;
    
    gap: 10px;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    cursor: pointer;
    
}

#sub_menu_estoque li:hover{
    color: var(--header);
}
#sub_menu_estoque li span{
    font-size: 14px;
}



main {
    grid-area: 1 / 2 / -1 / -1;
}

/* Aqui começa a conversão da área de estoque → produtos */
.tela {
    display: none;
    grid-template: 50px 1fr / 1fr;
    width: 100%;
    height: 100%;
    color: rgba(27, 27, 27, 0.774);
}


.tela.ativa{
    display: grid;
}

.tela > header {
    display: flex;
    grid-area: 1 / 1 / 2 / -1;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding-left: 20px;
}

.tela > header > span {
    color: rgba(27, 27, 27, 0.658);
}

.tela > section {
    display: grid;
    grid-template: auto 100px 1fr / 1fr;
    box-shadow: 1px 1px 5px #0000004f;
    margin: 0px 20px 20px 20px;
    border-radius: 20px;
}

.tela > section > header {
    border-radius: 20px 20px 0px 0px;
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    color: #000000cc;
    font-size: 15px;
    padding: 25px;
    border-bottom: 1px solid #d1d8db;
}

.tela > section > header > button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    border: transparent;
    background-color: #2d8f3d;
    letter-spacing: .5px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    transition: transform 0.3s ease;
}

.tela > section > header > button:hover {
    background-color: #247231;
    transform: scale(1.03);
}

/* aba Cadastro*/
.aba_cadastrar{
    display: none;
    flex-direction: column;
    position: fixed; 
    top: 0;
    right: 0;  
    width: 50vw;
    height: 100vh; 
    z-index: 3;
    background-color: #ffffff;
    box-shadow: -12px 9px 20px 0px rgba(0, 0, 0, 0.164);
}


.aba_cadastrar > header{
    background-color: #2d8f3d;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.829);
    box-shadow: 1px 1px 5px #0000008a;
}

.aba_cadastrar > header> button,  .aba_cadastrar > footer button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.411) ;
    cursor: pointer;
    transition: transform 0.3s ease;
 }

.aba_cadastrar > header> button{
    color: rgba(0, 0, 0, 0.726);
    border: none;
    transition: transform 0.3s ease;
    
}

.aba_cadastrar > header> button:hover{
    background-color: #dfdfdf;
    transform: scale(1.03); 
}

.aba_cadastrar > section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 1px solid #d1d8db;
    margin-bottom: 20px;
}

.aba_cadastrar > section > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.aba_cadastrar > section > div > div {
    flex: 1 1 45%; /* 👈 dois por linha, cada um com ~45% */
    display: flex;
    flex-direction: column; /* label em cima do input */
}

.aba_cadastrar > section input,
.aba_cadastrar > section select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
}

.aba_cadastrar > section select:focus, .aba_cadastrar > section input:focus, .aba_cadastrar > section select:hover, .aba_cadastrar > section input:hover{
    background-color: #dfdfdf;
}

.aba_cadastrar > footer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0px 20px;
}

.botao_salvar{
    background-color: #2d8f3d;
    color: white;
    gap: 3px;
    border: none;
    transition: transform 0.3s ease;
    font-size: 20px;
}

.botao_voltar{
    border: 2px solid #2d8f3d;
    transition: transform 0.3s ease;
    color: #2d8f3d;
    
}

.botao_salvar:hover{
    background-color: #247231;
    transform: scale(1.03); 
}

.botao_voltar:hover{
    background-color: #dfdfdf;
    transform: scale(1.03); 
}

.botao_voltar > span, .botao_salvar > span{
    font-size: 20px;
}


.tela > section > nav {
    display: flex;
    justify-content: space-between;
    grid-area: 2 / 1 / 3 / -1 ;
    padding: 20px;
}

.tela nav .pesquisa{
    max-width: 500px;
    width: 40vw;
    height: 35px;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    outline: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
    border: 1.5px solid rgba(0, 0, 0, 0.233);
}

.tela nav .pesquisa:hover, .tela nav .pesquisa:focus{
    background-color: rgb(228, 228, 228);
}

.tela nav > button{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    font-size: 16px;
    border: transparent;
    background-color:#3276B1;
    letter-spacing: .5px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    transition: transform 0.3s ease;
}

.tela nav > button:hover {
    background-color: #286091;
    transform: scale(1.03); 
}






/* Filtro */

.cortina_filtros {
    background-color: white;
    z-index: 2;
    width: 300px;
    display: none;
    grid-template: 50px 350px 50px / 1fr;
    height: 450px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.548);
    border: 1px solid rgba(0, 0, 0, 0.363);
}

.cortina_filtros header {
    grid-area: 1 / 1 / 2 / -1;

    display: flex;
    align-items: center;
    justify-content: start;
    background-color:#3276B1;
    border-radius: 7px 7px 0px 0px ;
    color: white;
    padding-left: 20px;

}

.cortina_filtros > section{
    z-index: 2;
    grid-area: 2 / 1 / 3 / -1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2px;
    color: #000000;
}



.cortina_filtros > section input, 
.cortina_filtros > section select,
.aba_cadastrar section div input, 
.aba_cadastrar section div select {

    font-size: 17px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
    border: 1.5px solid rgba(0, 0, 0, 0.233);
}   

.cortina_filtros > section select{
    cursor: pointer;
}

.categorias_filtro:hover, .cortina_filtros > section input:hover, .cortina_filtros > section input:focus, .categorias_filtro:focus {
    background-color: rgb(228, 228, 228);
}

.cortina_filtros > footer{
    grid-area: 3 / 1 / 4 / -1;
    gap: 10px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    
}
.botao_aplicar ,.botao_fechar{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    font-size: 16px;
    background-color:#ffffff;
    color: rgb(46, 46, 46);
    letter-spacing: .5px;
    border-radius: 20px;
    cursor: pointer;
    border: 1.5px solid rgba(0, 0, 0, 0.432);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
    z-index: 2;
    transition: transform 0.3s ease;
}

.botao_aplicar {
    color: white;
    border: 1.5px solid rgba(0, 0, 0, 0.233);
    background-color:#3276B1;
}

.botao_aplicar:hover ,.botao_fechar:hover{
    transform: scale(1.03);
}
.botao_fechar{
    border: 2px solid #3276B1;
    transition: transform 0.3s ease;
    color: #3276B1;

}







/* Tabela */

#div_tabela{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
}

#tabela {
    width: 100%;
    background-color: rgb(223, 223, 223);
    border-collapse: collapse; /* bordas juntas */
    text-align: center;
}

#tabela th, #tabela td{
    padding: 8px 12px;
}

#tabela th {
    background-color: white;
    color: #000000cc;
    font-size: 15px;
    padding: 25px;
    border-bottom: 1px solid #d1d8db;
}

#tabela input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999898;
    font-size: 16px;
    color: #000000cc;
    text-align: center;
    width: 100%;
}

#tabela input:focus {
    outline: none; 
    border-bottom-color: #5f5f5f; 
}

#tabela tr:nth-child(even) {
    background-color: #f2f2f2; /* linhas alternadas */
}

td:first-child {
    width: 50px; /* ou outro valor que achar bom */
    text-align: center; /* centraliza os botões */
}








/* Buttons */

tr div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 80px;
    width: 100%;
} 

button.editar, button.excluir{
    border: 0px;
    margin-top: 5px;
    cursor: pointer; 
    color: #333;
    background-color: transparent;
    font-size: 20px;
    margin: 5px;
}

button.confirmar, button.voltar{
    border: 0px;
    margin-top: 5px;
    cursor: pointer; 
    color: #333;
    background-color: transparent;
    font-size: 20px;
    margin: 5px;
}

button.confirmar > span, button.voltar > span{
    font-weight: 900;
}

button.editar {
     color: #007bff9c;
}

button.editar:hover {
     color: #007bff;
}

button.excluir, button.voltar {
    color: rgba(255, 0, 0, 0.466);
}

button.excluir:hover, button.voltar:hover {
    color: red;
}

button.confirmar{
    color: #35aa49;
}

button.confirmar:hover {
    color: #247231;
}



/* Gráficos */

#visao_geral section article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    grid-area: 2 / 1 / -1 / -1;
    padding: 20px;
}

#card_visao {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 100%; /* limita o tamanho para não ficar gigante */
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#card_visao:hover {
    transform: translateY(-3px);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
}

#conteudo_card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
}

#conteudo_card > div {
    display: flex;     
    flex-direction: column;         
    justify-content: center;  
    align-items: center;        
    text-align: center; 

    flex: 1 1 200px;
    min-width: 180px;

    padding: 15px;
    border-radius: 10px;
}

.icon_card_visao {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.icon_card_visao span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 6px;
}

.icon_card_visao h3 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

#conteudo_card h4 {
    font-size: 15px;
    color: #333;
    margin-top: 3px;
}

#graficos_saidas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#graficos_saidas > div{
    display: flex;
    width: 100%;
    flex-wrap: wrap; /* permite que os gráficos quebrem linha */
    justify-content: space-around;
}

.grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px 40px 40px 40px;
    min-width: 300px;
    max-width: 600px; /* limite máximo para não ficar enorme */
    flex: 1 1 400px; /* se adapta no flex */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.grafico:hover {
    transform: translateY(-3px);
}
.grafico canvas {
    width: 100% !important;
    height: 350px !important;
}


@media screen and (max-width: 900px) {
    body > header{
        display: flex;
    }

    main {
        grid-area: 2 / 1 / -1 / -1;
    }

    #menu_estoque > div {
        display: flex;
        justify-content: end;
        align-content: center;
        padding: 10px 15px 10px 0px;
        color: white;
        height: 60px;
    }

    #menu_lateral {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        z-index: 3;
    }

    .aba_cadastrar{
        display: none;
        flex-direction: column;
        position: fixed; 
        top: 0;
        right: 0;  
        width: 60vw;
    }
}

@media screen and (min-width: 901px) {
    #menu_lateral {
        display: flex;
    }

    #botao_menu,
    #botao_close {
        display: none;
    }
}